<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="drivingschooldb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Study\БД\Курсовой\drivingschool\drivingschooldb.mdf;Integrated Security=True" />
  <add name="drivingschool.Properties.Settings.drivingschooldbConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\drivingschooldb.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>